body {
    background: #435A66;
}

.MainMenuText {
    font-size: 17px;
    font-family: Lato;
    color: #D9CDB8;
    text-align: center;
    font-kerning: normal;
}

.MainMenuText a:link, a:hover, a:visited, a:active {
    color: #D9CDB8;
    text-decoration: none;
}